
<div class="grid grid-cols-3">
  <div>
  Players
  <div>
    <% @players.each do |player| %>
      <div class="flex space-x-2">
        <%= image_tag player.avatar, class: "h-32 w-32 rounded-full" %>
        <%= player.name %>
        <%= player.wins %>
        <%= player.games.count %>
      </div>
    <% end %>
  </div>
  <%= link_to "Players", players_path %>
  <%= link_to "Games", games_path %>
</div>