<div class="w-full">
  <div class="text-4xl mb-2">빙봉 Pasagi</div>
  <% @players.each_with_index do |player, i| %>
  <div class="grid grid-cols-3 w-full <%= i.even? ? 'bg-white' : 'bg-slate-200' %>">
    <div class="">
      <div class="inline-block text-xl">
        <%= "#{player[:rank]}. #{player[:name]}" %>
      </div>
    </div>
    <div class="text-center"><%= player[:win_count] %></div>
    <div class="text-right">
      <div class="inline-block">
        <%= link_to "players/#{player[:id]}/edit" do %>
          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
            <path stroke-linecap="round" stroke-linejoin="round" d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L6.832 19.82a4.5 4.5 0 01-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 011.13-1.897L16.863 4.487zm0 0L19.5 7.125" />
          </svg>
        <% end %>
      </div>
      <div class="inline-block">
        <form method="POST" action="leaderboard/add_win_to_player/<%= player[:id] %>">
          <button type="submit">
            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15" />
            </svg>
          </button>
        </form>
      </div>
    </div>
  </div>
  <% end %>

</div>
